::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--bg); }
::-webkit-scrollbar-thumb { background: var(--main-color); border-radius: 2px; }
::-webkit-scrollbar-thumb:hover { background: var(--secondary-color); border-radius: 2px; }


@supports not selector(::-webkit-scrollbar) {
    html {
        scrollbar-width: thin;
        scrollbar-color: var(--main-color);
    } 
}
