/* === Theme Variables === */

/*! #00ff87 */

/* Dark Theme (Default) */
[data-theme="dark"] {
    --bg-primary: #04000E;
    --bg-secondary: rgba(10, 10, 15, 0.9);
    --bg-tertiary: #1a1a1a;
    --text-primary: #F0E8FF;
    --text-secondary: rgba(175, 175, 175, 0.9);
    --text-muted: #717171;
    --border-color: #333333;

    --main-color: #fa00af;
    --secondary-color: #00fffb;
    --logo-hue-rotation: invert(30%) sepia(97%) saturate(6819%) hue-rotate(308deg) brightness(99%) contrast(113%);
    --theme-slider-color: #fa00af;
    --disabled-color: rgba(255, 255, 255, 0.25);
    --glitch-before-color: #E91E8C;
    --glitch-after-color: #00D4FF;
    --border: rgba(255, 0, 170, 0.2);
    --secondary-border: rgba(0, 255, 251, 0.15)
}

/* Light Theme */
[data-theme="light"] {
    --bg-primary: #d2d2d1;
    --bg-secondary: rgba(175, 175, 175, 0.9);
    --bg-tertiary: #d0d0d0;
    --text-primary: #0a0a0a;
    --text-secondary: #444444;
    --text-muted: #666666;
    --border-color: #999999;
    --neon-magenta: #d4216b;
    --neon-cyan: #00b8c7;
    --neon-red: #cc0033;

    --main-color: #fa00af;
    --secondary-color: #00fffb;
    /* --secondary-color: #57fa00; */
    /* --logo-hue-rotation: invert(80%) sepia(27%) saturate(7292%) hue-rotate(-306deg) brightness(110%) contrast(110%); */
    --logo-hue-rotation: invert(30%) sepia(97%) saturate(6819%) hue-rotate(308deg) brightness(99%) contrast(113%);
    --logo-filter: saturate(100%) brightness(0%);
    --theme-slider-color: none;
    --disabled-color: rgba(0, 0, 0, 0.25);
    --glitch-before-color: #E91E8C;
    --glitch-after-color: #00D4FF;
}